Repository nhsuk/nhsuk-service-manual, pull requests merged in 2021-11, with the labels that each got.

#1601 Update 11-choose-the-right-tools-and-technology.njk
  app/views/service-standard/11-choose-the-right-tools-and-technology.njk
Labels: service standard

#1600 Update Service Manual Team Page
  CHANGELOG.md
  app/assets/adam-chrimes.png
  app/assets/teodora-straianu.jpg
  app/views/service-manual-team.njk
Labels: team-page

#1612 Move care cards from a component to a pattern
  app.js
  app/views/content/a-to-z-of-nhs-health-writing.njk
  app/views/content/formatting-and-punctuation.njk
  app/views/design-system/components/action-link/index.njk
  app/views/design-system/components/card/index.njk
  app/views/design-system/components/care-cards/index.njk
  app/views/design-system/components/care-cards/macro-options.json
  app/views/design-system/components/expander/index.njk
  app/views/design-system/components/inset-text/index.njk
  app/views/design-system/components/review-date/index.njk
  app/views/design-system/components/warning-callout/index.njk
  app/views/design-system/patterns/help-users-decide-when-and-where-to-get-care/emergency/index.njk
  app/views/design-system/patterns/help-users-decide-when-and-where-to-get-care/index.njk
  app/views/design-system/patterns/help-users-decide-when-and-where-to-get-care/non-urgent/index.njk
  app/views/design-system/patterns/help-users-decide-when-and-where-to-get-care/two-colons/index.njk
  app/views/design-system/patterns/help-users-decide-when-and-where-to-get-care/urgent/index.njk
  app/views/design-system/styles/colour/index.njk
  app/views/includes/_side-nav.njk
  app/views/includes/design-example-wrapper-full-layout.njk
  app/views/site-map.njk
  app/views/sitemap.xml
Labels: design system
