Repository nhsuk/nhsuk-service-manual, pull requests merged in 2021-03, with the labels that each got.

#1012 Bug fix accessibility link #958
  CHANGELOG.md
  app/views/accessibility/partials/use-headings-correctly.njk
  package-lock.json
  package.json
Labels: :bug: bug

#1028 change sitemap label from 'community' to 'community and contribution'
  CHANGELOG.md
  app/views/site-map.njk
Labels: :bug: bug

#1016 Review date - Refactor guidance and examples on the service manual
  CHANGELOG.md
  app.js
  app/assets/review-date-pattern-embedded-content.png
  app/components/review-date-pattern-page.njk
  app/components/review-date-pattern.njk
  app/components/review-date.njk
  app/styles/app/_app.scss
  app/styles/app/_review-date.scss
  app/views/cookie-confirmation.njk
  app/views/cookie-policy.njk
  app/views/design-system/components/review-date.njk
  app/views/design-system/patterns/reassure-users-that-a-page-is-up-to-date.njk
  app/views/includes/_side-nav.njk
  app/views/includes/app-layout-two-thirds.njk
  app/views/includes/app-layout.njk
  app/views/includes/layout.njk
  app/views/index.njk
  app/views/site-map.njk
  app/views/sitemap.xml
  app/views/whats-new/index.njk
  app/views/whats-new/updates.njk
  middleware/page-index-additions.js
  package-lock.json
  package.json
Labels: examples, guidance, review date

#1058 Update compliance date for accessibility and update to team list #959 #1038 #1037 #1036 #1039
  CHANGELOG.md
  app/views/accessibility/partials/publish-an-accessibility-statement.njk
  app/views/accessibility/product-and-delivery.njk
  app/views/service-manual-team.njk
  app/views/whats-new/index.njk
  app/views/whats-new/updates.njk
Labels: accessibility, team-page

#1086 Add contribution links within context #1000 #1001
  CHANGELOG.md
  app/views/includes/_contact-panel.njk
  package.json
Labels: design

#1090 Add contribution links within context #1000 #1001
  CHANGELOG.md
  app/views/content/a-to-z-of-nhs-health-writing.njk
  app/views/content/formatting-and-punctuation.njk
  app/views/content/health-literacy.njk
  app/views/content/how-to-write-good-questions-for-forms/consider-the-sensitivities-around-your-questions.njk
  app/views/content/how-to-write-good-questions-for-forms/get-the-questions-into-order.njk
  app/views/content/how-to-write-good-questions-for-forms/index.njk
  app/views/content/how-to-write-good-questions-for-forms/make-sure-you-need-each-question.njk
  app/views/content/how-to-write-good-questions-for-forms/test-your-questions.njk
  app/views/content/how-to-write-good-questions-for-forms/think-of-the-form-as-a-conversation.njk
  app/views/content/how-to-write-good-questions-for-forms/understand-the-problem-before-you-write-your-questions.njk
  app/views/content/how-to-write-good-questions-for-forms/use-filter-questions-to-route-users.njk
  app/views/content/how-to-write-good-questions-for-forms/write-the-supporting-content-for-your-form.njk
  app/views/content/how-we-write.njk
  app/views/content/inclusive-language.njk
  app/views/content/index.njk
  app/views/content/links.njk
  app/views/content/numbers-measurements-dates-time.njk
  app/views/content/pdfs-and-other-non-html-documents.njk
  app/views/content/voice-and-tone.njk
  app/views/design-system/components/index.njk
  app/views/design-system/patterns/index.njk
  app/views/design-system/styles/index.njk
  app/views/includes/_contact-panel.njk
  app/views/includes/app-layout.njk
Labels: design
